.profilepage-wrapper {
  position: relative;
  background-color: rgb(240,240,240);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

.profilepage-text-container {
  text-align: left;
  margin-top: 35px;
  z-index: 2;
}

.profilepage-title {
  font-family: 'tex_gyre_herosbold', sans-serif;
  font-size: 10vw;
  color: #000;
  white-space: nowrap;
  line-height: 1;
  mix-blend-mode: color;
}

.profilepage-text {
  font-family: 'tex_gyre_herosbold', sans-serif;
  color: #000;
  font-size: 1.52em;
}


.profilepage-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 85%;
  object-fit: contain;
  filter: grayscale(1);
  z-index: 1;
  object-position: bottom right;
}