.profilepage-wrapper {
  position: relative;
  background-color: #fff;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  padding: 0 5vw;
}

.profilepage-text-container {
  text-align: left;
  margin-top: 5vh;
  z-index: 1;
}

.profilepage-title {
  font-family: 'tex_gyre_herosbold', sans-serif;
  font-size: 10vw;
  white-space: nowrap;
  line-height: 1;

}

.profilepage-text {
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 1.52em;  
}

.profilepage-text > span {
  font-weight: 700;
}

.profilepage-image {
  position: absolute;
  right: 5vw;
  top: -20%;
  height: 45vw;
  width: 30vw;
  object-fit: contain;
  object-position: bottom center;
  background: rgb(230,230,230);
  opacity: 0.76;
  box-shadow: -22px -22px #F6BDD1;
  z-index: 0;
}


.profilepage-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8em 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 3;
}

.profilepage-footer-text {
  font-family: 'inter', sans-serif;
  color: #000;
}


@media (min-width: 1025px) {
  .profilepage-image {
    top: -40%;
  }
}

