.profilepage-wrapper {
  position: relative;
  background-color: #fff;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 0 5vw;
  overflow: hidden;
}

.profilepage-text-container {
  text-align: left;
  margin-top: 5vh;
  z-index: 1;
}

.profilepage-title {
  font-family: 'tex_gyre_herosbold', sans-serif;
  font-size: 10vw;
  white-space: nowrap;
  line-height: 1;
  transition: all 0.72s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.profilepage-text-block {
  transition: all 0.72s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.profilepage-text {
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 1.52em;  
}

.profilepage-text > span {
  font-weight: 700;
}

.profilepage-image {
  position: absolute;
  right: 5vw;
  top: 55%;
  height: 45vw;
  width: 30vw;
  object-fit: contain;
  object-position: bottom center;
  background: rgb(230,230,230);
  opacity: 0.76;
  box-shadow: -10px -10px #F6BDD1;
  z-index: 0;
}

@media (min-width: 1025px) {
  .profilepage-image {
    top: 30%;
    box-shadow: -22px -22px #F6BDD1;
  }
}

