.resumepage-wrapper {
  position: relative;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}

.resumepage-text-container {
  text-align: left;
  margin-top: 5vh;
  z-index: 1;
  transition: all 0.72s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-bottom: 3em;
}

.resumepage-title {
  display: inline-block;
  position: relative;
  font-family: 'inter', sans-serif;
  font-weight: 200;
  font-size: 7vw;
  line-height: 1.1;
  color: #000;
  white-space: nowrap;
}

.resumepage-title:hover {
  text-decoration: none;
}

.resumepage-title:hover::before {
  opacity: 1;
}

.resumepage-title::before {
  content: '';
  background-color: #F6BDD1;
  position: absolute;
  height: 60%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  opacity: 0;
  transition: all 0.46s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.resumepage-text {
  font-family: 'inter', sans-serif;
  font-weight: 500;
  font-size: 1.52em;  
  max-width: 800px;
  padding: 18px 0;
}


.resumepage-text > span {
  font-weight: 700;
}


.resumepage-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.8em 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 3;
}


.resumepage-footer-text {
  font-family: 'inter', sans-serif;
  color: #000;
  font-weight: 500;
}